<footer>
  <div class="row text-center">
    <div class="col">
      <%= image_tag("logo-grey.svg", alt: "Logo", class: "img-fluid logo-menu") %>
    </div>
  </div>
  
  <%= render 'shared/contact_data', white_logos: true %>
  <hr>
  
  <div class="row text-center mt-3">
    <div class="col">
      Constructora d'obres i serveis del Baix Camp S. L.
    </div>
  </div>
</footer>
