<footer>
  <div class="row text-center">
    <div class="col">
      <%= image_tag("logo-grey.svg", alt: "Logo", class: "img-fluid logo-menu") %>
    </div>
  </div>
  
  <%= render 'shared/contact_data', white_logos: true %>
  
  <div class="row row-contact-info text-center">
    <div class="col-sm-12 col-md-6 ">
      <%= image_tag("ESPOS_footer_mini.png", alt: "Logo NextGenerationEU", class: "img-fluid logo-eu") %>
    </div>
    <div class="col-sm-12 col-md-6 mt-3 mt-md-0">
      <%= image_tag("PRTR_footer_mini.png", alt: "Logo NextGenerationEU", class: "img-fluid logo-eu") %>
    </div>
  </div>

  <hr>

  <div class="row text-center mt-3">
    <div class="col">
      Constructora d'obres i serveis del Baix Camp S. L.
    </div>
  </div>  
</footer>
