<footer>
  <div class="row text-center">
    <!-- Row 1: Logo centrado -->
    <div class="col">
      <%= image_tag("logo.png", alt: "Logo", class: "img-fluid logo-menu") %>
    </div>
  </div>
  
  <div class="row row-info text-center">
    <!-- Row 2: Iconos de correo y teléfono -->
    <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center">
      <i class="fas fa-envelope"></i>
      <span>contrubaixcamp@gmail.com</span>
    </div>
    <div class="col-sm-12 col-md-6 mt-3 mt-md-0 d-flex align-items-center justify-content-center">
      <i class="fas fa-phone"></i>
      <span>606 417 415</span>
    </div>
  </div>

  <hr>
  
  <div class="row text-center mt-3">
    <!-- Row 3: Nombre de la empresa -->
    <div class="col">
      Constructora d'obres i serveis del Baix Camp S. L.
    </div>
  </div>
</footer>
